@font-face {
    font-family: 'LINESEEDKR-Bd';
    src: url('../public/assets/fonts/LINESeedKR-Bd.woff') format('woff');
}

@font-face {
    font-family: 'LINESEEDKR-Rg';
    src: url('../public/assets/fonts/LINESeedKR-Rg.woff') format('woff');
}

@font-face {
    font-family: 'LINESEEDKR-Th';
    src: url('../public/assets/fonts/LINESeedKR-Th.woff') format('woff');
}

#esg h1 {
    font-size: 2.2rem;
    margin: 0rem;
    font-family: 'LINESEEDKR-Bd';
}

#esg h1:nth-child(3) {
    padding-top: 1rem;
    font-size: 2.0rem
}

#esg h3 {
    margin: 0rem;
    font-size: 4rem;
    font-weight: 100;
}

#esg>div:nth-child(2) {
    padding-top: 1.5rem;
}

#esg h2 {
    font-family: 'LINESEEDKR-Th';
    font-size: 1.2rem;
    margin: 0.5rem;
}

#esg>div:nth-child(3) {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

#esg>div:nth-child(3)>div {
    text-align: left;
}



#esg>div:nth-child(3)>div:nth-child(2)>div:nth-child(1),
#esg>div:nth-child(3)>div:nth-child(3)>div:nth-child(1) {
    padding-bottom: 1rem;
}

#esg>div:nth-child(3)>div:nth-child(2){
    margin-left: 4rem;
    margin-right: 4rem;
}

#esg h4 {
    font-family: 'LINESEEDKR-Bd';
    font-size: 2rem;
    color: white;
    margin: 0rem;
    margin-bottom: 3rem;
}

#esg p {
    margin: 0rem;
    font-size: 0.8rem;
}

#esg>div:nth-child(3)>div:nth-child(2) p{
    font-family: 'LINESEEDKR-Bd';
}

#esg>div:nth-child(3)>div:nth-child(3) p{
    font-family: 'LINESEEDKR-Rg';
}

#esg>div:nth-child(3)>div>div>p:nth-child(2){
    margin-bottom: 3rem;
}

#esg span{
    background-color: rgb(2, 63, 82);
    font-family: 'LINESEEDKR-Bd';
    padding: 0.5rem;
}

