header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* header를 고정 */
  top: 0; /* header를 상단에 위치 */
  width: 100%; /* header의 너비를 100%로 설정 */
  z-index: 999; /* header를 다른 요소 위에 표시 */
}


.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-left: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* transform 속성에 대한 transition 효과 추가 */
}

nav li {
  margin-right: 80px; /* 메뉴 사이의 간격을 30px로 설정 */
  position: relative;
  transition-duration: 0.5s;
}

nav li:last-child {
  margin-right: 0;
}

nav li:hover {
  margin-right: 100px; /* hover 시 margin-right 값을 50px로 변경 */
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li.dropdown:hover .dropdown-menu {
  display: block;
}

nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  /* right: 0; */
  background-color: #333;
  padding: 10px;
  width: 100px; /* 드롭다운 메뉴의 너비를 150px로 설정 */
}

nav .dropdown-menu li {
  margin: 0;
}

nav .dropdown-menu li a {
  color: #fff;
  text-decoration: none;
}

.language a {
  color: #fff;
  text-decoration: none;
  margin-right: 150px;
}

.language .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  /* right: 0; */
  background-color: #333;
  padding: 10px;
  width: 100px;
}

.language .dropdown-menu li {
  margin: 0;
}

.language .dropdown-menu li a {
  color: #fff;
  text-decoration: none;
}

.language:hover .dropdown-menu {
  display: block;
}