@font-face {
    font-family: 'LINESEEDKR-Bd';
    src: url('../public/assets/fonts/LINESeedKR-Bd.woff') format('woff');
}

@font-face {
    font-family: 'LINESEEDKR-Rg';
    src: url('../public/assets/fonts/LINESeedKR-Rg.woff') format('woff');
}

@font-face {
    font-family: 'LINESEEDKR-Th';
    src: url('../public/assets/fonts/LINESeedKR-Th.woff') format('woff');
}

h1, h2, strong {
    font-family: 'LINESEEDKR-Bd';
}

span {
    font-family: 'LINESEEDKR-Rg';
}

html {
    margin: 0px;
    position: relative;
}

#header {
    position: relative;
    z-index: 10;
}

#history {
    position: relative;
    z-index: 1;
}

#page_top {
    width: 100%;
    height: 40rem;
    /* background-color: aqua; */
}

.page_top_text {
    text-align: center;
    font-size: 10rem;
    padding-top: 3.5rem;
}

.history_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.history_container_left {
    width: 45%;
    padding-right: 10rem;
}

.history_container_left_box {
    width: 100%;
}

#history_container_left_box_move {
    margin-top: 10rem;
    overflow: auto;
}

#history_container_left_box_fix {
    width: 40.1%;
    top: 11rem;
    position: fixed;
}

.history_container_left_img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position: 50% 50%;
}

.history_container_right {
    width: 55%;
    padding-left: 3rem;
}

.history_annual {
    opacity: 0;
}

.history_head {
    font-size: 3rem;
}

.history_content {
    display: flex;
    flex-direction: row;
}

.history_content ul {
    list-style: none;
    padding: 0rem;
}

.history_content ul li {
    padding: 1rem
}

.history_content strong {
    font-size: 2.0rem;
    color: blue;
}

.history_content span {
    font-size: 1rem;
    font-weight: 600;
}