html {
    /* overflow: hidden; */
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

#header {
    z-index: 100;
    position: absolute;
}

.main_empty{
    top: 4.0rem;
    background-color: transparent;
    width: 8rem;
    height: 100%;
    border-right: 1px white solid;
    position: fixed;
    z-index: 99;
}

.main_empty_dot{
    top: 30rem;
    left: 7.71rem;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
}

.main_container1 {
    width: 100%;
    height: 100%;
    position: relative;
    animation: fadein 3s;
    -webkit-animation: fadein 2s;

    /* padding-top: 0.01rem; */

}



@font-face {
    font-family: 'LINESEEDKR-Bd';
    src: url('../public/fonts/LINESeedKR-Bd.eot');
}

@font-face {
    font-family: 'LINESEEDKR-Rg';
    src: url('../public/fonts/LINESeedKR-Rg.eot');
}

@font-face {
    font-family: 'LINESEEDKR-Th';
    src: url('../public/fonts/LINESeedKR-Th.eot');
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main_container {
    width: 100%;
    height: 100%;
    position: relative;
    /* padding-top: 0.01rem; */
}

/* section1 */
#section1 {
    background-image: url("../public/images/addition/main1.jpg");
    background-size: cover;
}

.heading_title {
    width: 100%;
    height: 35rem;
    display: flex;
    padding-top: 15rem;
}



.heading_title_left {
    margin-left: 12rem;
    width: 120rem;
    color: white;
}

.heading_title_left>div {
    padding-bottom: 3rem;
}

.heading_title_left>div>p {
    font-size: 5rem;
    margin: 0rem;
    font-family: 'LINESeedKR-Th';
}

.heading_title_left>div:nth-child(2)>p {
    font-size: 1.2rem;
    /* font-family: 'LINESeedKR-Bd'; */
}

.main_button {
    border: 1px black solid;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: transparent;
    font-size: 1.0rem;
}

#section2 {
    text-align: center;
    background-color: rgb(169, 201, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 img {
    max-width: 100%;
    height: 25rem;
}

#section2 > div > h2{
    text-align: left;
    color: white;
    padding-left: 10rem;
}

.main_container2_title {
    color: black;
    font-size: 1.5rem;
    padding: 7rem;
}

.main_container2_title>h1 {
    margin: 0rem;
}

.main_container2_content {
    color: black;
    display: flex;
    justify-content: center;
}

.main_container2_content_box {
    padding: 3rem;
    width: 16rem;
}

.main_container2_content_img {
    width: 15rem;
    max-height: 100%;
}

/* section3 */

#section3 {
    text-align: center;
    /* background-color: aqua; */
}

.main_container3_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 9rem;
}

.main_container3_content_box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0.5rem
}

.main_container3_content_img {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 3rem;
}

.main_container3_content_text {
    width: 18rem;
    background-color: rgb(207, 200, 200);
    border-radius: 2rem;
    opacity: 0.7;
    margin-left: 1rem;
    position: absolute;
    margin-bottom: 1rem;
    font-weight: bold;
}

.main_container3_content_text_content {
    display: none;
    transition: display 0s ease-in-out 0.5s;
}

.main_go_company_button {
    width: 10rem;
    height: 3rem;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#footer {
    position: relative;
    bottom: 0rem;
    width: 100%;
    height: 0;
}


/* section 1 swiper */

.heading_title_right {
    margin-left: 0rem;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    align-items: center;
}

/* .swiper-slide {
    align-items: center;
    justify-content: center;
} */

.swiper-slide .business_img {
    margin-top: 3rem;
    width: 90%;
    height: 91%;
    object-fit: cover;
    opacity: 0.3;
}

.swiper-slide .business_img_change {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide:nth-child(1n) {
    width: 40%;
}

.business_img {
    object-fit: cover;
    border-radius: 1.5rem;
    transition-duration: 0.5s;
}

.business_img_change {
    object-fit: cover;
    border-radius: 1.5rem;
    transition-duration: 0.5s;
}

.swiper-slide>div {
    color: white;
    width: 70%;
    border-radius: 2rem;
    position: absolute;
    top: 21rem;
    padding-left: 1rem;
    margin-left: 1.8rem;
    height: 13rem;
    backdrop-filter: blur(20px)
}

.swiper-slide>div>p {
    font-family: 'LINESEEDKR-Bd';
    font-size: 1.0rem;
    padding: 0.5rem;
}